<form action="/home/update/<%=@post.id%>" method="post">
  <input type="text" name="title" value= "<%=@post.title%>"> Title<br>
  <input type="text" name="content" value= "<%=@post.content%>"> Content<br>
  <input type="submit" value="제출">
</form>